In [42]:
x="Anish"
y=x[-1::-1]
print(y)

hsinA

In [2]:
x=input("Enter A String: ")
y=x.lower()
s=y[0:]
e=y[-1::-1]
if s==e:
    print("The String is palindrome")
else:
    print("The String is not palindrome")

Enter A String:  Mom

The String is palindrome

In [3]:
x="monkey"
y=x.upper()
print(y)

MONKEY

In [5]:
x="APPLE"
y=x.lower()
print(y)

apple

In [12]:
x= input("Enter A String: ")
y=x.lower()
vowels=0
consonants=0
for i in y :
    if(i =='a' or i =='e' or i =='i' or i =='o' or i =='u'):
        vowels=vowels+1
    else:
        consonants=consonants+1
        
print(vowels)
print(consonants)

Enter A String:  Anish

2
3

In [11]:
S="      Srinjoy         "
S.strip()

'Srinjoy'

In [16]:
S=input("Enter a string: ")
y=S.lower()
count=0
for i in y:
    count=count+1
print(count)

Enter a string:  anish

5

In [22]:
X= input("Enter A String: ")
Y=X.lower()
"is" in Y

Enter A String:  My Name Is Anish Chandra.

True

In [23]:
X ="My name is Anish Chandra.  I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
Y=X.replace("MSC","M.sc")
print(Y)

My name is Anish Chandra.  I complete B.sc in 2020 In Mathamatis and i complete M.sc in Remote sensing and GIS.

In [33]:
X ="My name is Anish Chandra.  I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
Z=X.lower()
y=Z.count("is")
print(y)

4

In [29]:
X ="My name is Anish Chandra.  I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
z=X.lower()
y=z.find("is",0)
print(y)

8

In [38]:
X ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
z=X.lower()
y=z.rfind("is")
print(y)

106

In [41]:
x="My name is Anish chandra"
y=x.split()
print(y)

['My', 'name', 'is', 'Anish', 'chandra']

In [61]:
y.append("Now i doing job in Map My India")
print(y)

['My', 'name', 'is', 'Anish', 'chandra', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India', 'Now i doing job in Map My India']

In [63]:
v ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
v.replace(" ","_")

'My_name_is_Anish_Chandra._I_complete_B.sc_in_2020_In_Mathamatis_and_i_complete_MSC_in_Remote_sensing_and_GIS.'

In [73]:
v ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
P=v.startswith("My")
Q=v.endswith("GIS.")
print(P)
print(Q)

True
True

In [74]:
v ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
p=v.title()
print(p)

My Name Is Anish Chandra. I Complete B.Sc In 2020 In Mathamatis And I Complete Msc In Remote Sensing And Gis.

In [ ]:
str = input("Enter a String: ")
word = str.split()
longest_word = max(word, key = len)
Number = str.index(longest_word)
print("Longest word: ",longest_word)
print("Number of Longest word: ", Number+1)

In [2]:
str = input("Enter a String: ")
word = str.split()
Shortest_word = min(word, key = len)
Number = str.index(Shortest_word)
print("Shortest word: ",Shortest_word)
print("Number of Shortest word: ", Number+1)

Enter a String:  I am Anish Chandra .

Shortest word:  I
Number of Shortest word:  0

In [8]:
x ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
y=x.split()
z=y[-1::-1]
print(z)

['GIS.', 'and', 'sensing', 'Remote', 'in', 'MSC', 'complete', 'i', 'and', 'Mathamatis', 'In', '2020', 'in', 'B.sc', 'complete', 'I', 'Chandra.', 'Anish', 'is', 'name', 'My']

In [13]:
y = "anish 12"

x = y.isalnum()

print(x)

False

In [19]:
x=input("Enter A String: ")
y=" "
for z in x:
    if z.isdigit():
        y+=z
print(y)

Enter A String:  Anish123456chandra

 123456

In [20]:
x=input("Enter A String: ")
y=" "
for z in x:
    if z.isalpha():
        y+=z
print(y)

Enter A String:  Anish124578 Chandra

 AnishChandra

In [21]:
x=input("Enter A String: ")
y=0
for z in x:
    if z.isupper():
        y=y+1
print(y)

Enter A String:  AnIsH ChAnDrA

7

In [22]:
x=input("Enter A String: ")
y=0
for z in x:
    if z.islower():
        y=y+1
print(y)

Enter A String:  AnIsH ChAnDrA

5

In [23]:
x=input("Enter A String: ")
y=x.swapcase()
print(y)

Enter A String:  AnIsH cHanDra

aNiSh ChANdRA

In [29]:
x ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
v=x.lower()
y=v.split()
z=y.remove("is")
print(y)

['my', 'name', 'anish', 'chandra.', 'i', 'complete', 'b.sc', 'in', '2020', 'in', 'mathematis', 'and', 'i', 'complete', 'msc', 'in', 'remote', 'sensing', 'and', 'gis.']

In [33]:
x="abc@gmail.com"
if x.find("@") or x.find(".com"):
    print("Valid Email id")
else:
    print("Not A Valid Email Id")

Valid Email id

In [1]:
x="Hello     Good       Morning   "
y=" ".join(x.split())
print(repr(y))

'Hello Good Morning'

In [38]:
x= "IAmAnishChandra.IcompleteM.scInGeoinformatics."
y={ }
for i in x:
    if i in y:
        y[i] += 1
    else:
        y[i] = 1
print("Count of all characters : " + str(y))

Count of all characters : {'I': 3, 'A': 2, 'm': 3, 'n': 4, 'i': 3, 's': 3, 'h': 2, 'C': 1, 'a': 3, 'd': 1, 'r': 2, '.': 3, 'c': 3, 'o': 3, 'p': 1, 'l': 1, 'e': 3, 't': 2, 'M': 1, 'G': 1, 'f': 1}

In [4]:
x = "My@ name ?is #Anish.! chandra."
print("The original string is : " + x)
y = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in x:
    if i in y:
        x = x.replace(i, "")
print("The new string is : " + x)

The original string is : My@ name ?is #Anish.! chandra.
The new string is : My name is Anish chandra

In [5]:
x="123456789"
y="ABC12345bfcdsaw"
print("The initial string: ", x, y)
if x.isdigit():
    print("The String Contains Only Digit")
else:
    print("The String Contains Digit and Alphabet")
if y.isdigit():
    print("The String Contains Only Digit")
else:
    print("The String Contains Digit and Alphabet")

The initial string:  123456789 ABC12345bfcdsaw
The String Contains Only Digit
The String Contains Digit and Alphabet

In [7]:
x="abcdfsawejvv"
y="ABC12345bfcdsaw"
print("The initial string: ", x, y)
if x.isalpha():
    print("The String Contains Only Alphabet")
else:
    print("The String Contains Digit and Alphabet")
if y.isalpha():
    print("The String Contains Only Alphabet")
else:
    print("The String Contains Digit and Alphabet")

The initial string:  abcdfsawejvv ABC12345bfcdsaw
The String Contains Only Alphabet
The String Contains Digit and Alphabet

In [8]:
string = "AnishChandra"
letter = [x for x in string]
print(letter)

['A', 'n', 'i', 's', 'h', 'C', 'h', 'a', 'n', 'd', 'r', 'a']

In [9]:
string = 'AnishChandra'
lst = []
 
for letter in string:
    lst.append(letter)
 
print(lst)

['A', 'n', 'i', 's', 'h', 'C', 'h', 'a', 'n', 'd', 'r', 'a']

In [10]:
s1 = "listen"
s2 = "silent"
if (sorted(s1))== (sorted(s2)):
    print("The Strings are anagrams")
else :
    print("The Strings are not anagrams")

The Strings are anagrams

In [8]:
x = "I$ am@ Anish@ Chandra! .I& Complete# M.sc@ In Remote& Sensing^ And! GIS@."
y = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
z=0
for i in x:
    if i in y:
        z=x.replace(i,"")
   
print(z)

I$ am@ Anish@ Chandra! I& Complete# Msc@ In Remote& Sensing^ And! GIS@

In [15]:
x ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."

y=x.split()
z=y.pop(9)
print(z)
print(y)

2020
['My', 'name', 'is', 'Anish', 'Chandra.', 'I', 'complete', 'B.sc', 'in', 'In', 'Mathematis', 'and', 'i', 'complete', 'MSC', 'in', 'Remote', 'sensing', 'and', 'GIS.']

In [23]:
x ="My name is Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS."
y=x.split()
l=9
z="and"
z=x[:l] + z +x[l:]
print(z)

My name iands Anish Chandra. I complete B.sc in 2020 In Mathematis and i complete MSC in Remote sensing and GIS.

In [25]:
x=[1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
s=[1,5,6,7,5,8,10]

count=0
for i in s:
    count=count+1
print(count)

7

In [30]:
s=[1,5,6,7,5,8,10]
s.append(30)
s

[1, 5, 6, 7, 5, 8, 10, 30]

In [31]:
s=[1,5,6,7,5,8,10]
s.insert(4,3)
s

[1, 5, 6, 7, 3, 5, 8, 10]

In [32]:
s=[1,5,6,7,5,8,10]
s.remove(8)
s

[1, 5, 6, 7, 5, 10]

In [33]:
s=[1,5,6,7,5,8,10]
s.pop(3)
s

[1, 5, 6, 5, 8, 10]

In [37]:
s=[1,5,6,7,5,8,10]
h=1
if h in s:
    print("Present in list")
else:
    print("Not present in list")

Present in list

In [1]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
x.count(1)

4

In [3]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y=1
z=x.index(5)
print(z)

1

In [5]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y=x[-1::-1]
print(y)

[2, 1, 5, 4, 1, 9, 1, 8, 7, 4, 6, 5, 1]

In [8]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y=sorted(x)
print(y)

[1, 1, 1, 1, 2, 4, 4, 5, 5, 6, 7, 8, 9]

In [12]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
x.sort(reverse=True)
print(x)

[9, 8, 7, 6, 5, 5, 4, 4, 2, 1, 1, 1, 1]

In [33]:
x=[]
for i in range (1,21):
    if i%2 == 0:
       x.append(i)
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [35]:
x=[]
for i in range (1,21):
    if i%2 != 0:
       x.append(i)
print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [40]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y=sum(x)
print(y)

54

In [42]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y=max(x)
print(y)

9

In [43]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2,(-3)]
y=min(x)
print(y)

-3

In [49]:
x=[]
y=[]
for i in range (1,10):
    x=i*i
    y.append(x)
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
x=[]
for i in range (1,100):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [53]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2,(-3)]
y=list(set(x))
print(y)

[1, 2, 4, 5, 6, 7, 8, 9, -3]

In [54]:
x=[1,5,6,4,7,8,1,9,1,4,5,1,2]
y = []
for item in x:
    if item not in y:
        y.append(item)

print(y)

[1, 5, 6, 4, 7, 8, 9, 2]

In [55]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
y = [3, 4, 5, 6, 7,10,60,9,12]

z = []

for item in x:
    if item in y:
        z.append(item)

print(z)

[3, 4, 5, 10, 7, 12, 9]

In [58]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
y = [3, 4, 5, 6, 7,10,60,9,12]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 10, 25, 7, 64, 12, 9, 3, 4, 5, 6, 7, 10, 60, 9, 12]

In [59]:
x=[]
y=[]
for i in range (1,10):
    x=i*2
    y.append(x)
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
y=[]
for i in x:
    if i%2==0:
        y.append(i)
print(y)

[2, 4, 10, 64, 12]

In [1]:
x=["1","2","3","6","8","9"]
y=list(map(int,x))
print(y)

[1, 2, 3, 6, 8, 9]

In [2]:
x=[1, 2, 3, 6, 8, 9]
y=list(map(str,x))
print(y)

['1', '2', '3', '6', '8', '9']

In [12]:
n=10
a=0
b=1
x=[]
if n==1:
    print(a)
else :
    x.append(a)
    x.append(b)
    for i in range (2,n):
        c=a+b
        a=b
        b=c
        x.append(c)   
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
x=[1,5,4,3,7,8,5,9]
y=sorted(x)

if (sorted(x))==y:
    print("List is sorted")
else:
    print("list  is not sorted")

List is sorted

In [21]:
n=4
x=[1,5,4,3,7,8,5,9]
y=x[n:] + x[:n]
print(str(y))

[7, 8, 5, 9, 1, 5, 4, 3]

In [27]:
n=4
x=[1,5,4,3,7,8,5,9]
y=x[:n+1] + x[-1:n:-1]
print(str(y))

[1, 5, 4, 3, 7, 9, 5, 8]

In [42]:
y=[]
for x in range(2,50):
    prime= True
    for i in range(2,x):
        if (x%i==0):
            prime = False
    if prime:
      
        y.append(x)
        
   
print(y)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [49]:
x=[1,5,4,3,7,8,5,9]
y=max(x)
x.remove(y)
z=max(x)
print(z)

8

In [55]:
x=[1,5,4,3,7,8,6,9]
y=0
z=[]
for i in x:
    y=i**2
    z.append(y)
print(z)

[1, 25, 16, 9, 49, 64, 36, 81]

In [58]:
x=["Apple","Orange","Lemon","Guava","Watermelion"]
y=["1","2","3","4","5"]
d={}
for i in x:
    for j in y:
        d[i]=j
print (d)

{'Apple': '5', 'Orange': '5', 'Lemon': '5', 'Guava': '5', 'Watermelion': '5'}

In [59]:
import random
x=[5,4,9,7,2,6,3,]
random.shuffle(x)
print(x)

[7, 6, 4, 9, 2, 3, 5]

In [63]:
x=1
y=[]
for i in range (1,10):
    x=x*i
    y.append(x)
print(y)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [77]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
y = [3, 4, 5, 6, 7,10,60,9,12]
z=[100]
common_element=False
for i in x:
    if i in y:
        common_element=True
        break
    
if common_element:
    print("There have comon element")
else:
    print("There have no comon element")

There have comon element

In [81]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
x.clear()
x

[]

In [93]:
x = [1, 2, 3, 4, 5,10,25,(-7),64,12,(-9),(-3),(-16)]
y=[]
for i in range(len(x)):
    if i<0: 
        i = 0
    y.append(i)
print(y)

IndentationError: expected an indented block after 'if' statement on line 4 (3383979349.py, line 5)

In [1]:
text = "This is a sample sentence."


y = text.split()

print(y)

['This', 'is', 'a', 'sample', 'sentence.']

In [3]:
text =['This', 'is', 'a', 'sample', 'sentence.']
y=' '.join(text)
print(y)

This is a sample sentence.

In [7]:
n=6
y=[]
for i in range(1,n):
    x=2**i
    y.append(x)

print(y)

[2, 4, 8, 16, 32]

In [8]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]


longest_string = max(string_list, key=len)

print(longest_string)

elderberry

In [9]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]


Shortest_string = min(string_list, key=len)

print(Shortest_string)

date

In [10]:
x = [1, 2, 3, 4, 5,10,25,7,64,12,9]
y = [3, 4, 5, 6, 7,10,60,9,12]
x.append(y)
x

[1, 2, 3, 4, 5, 10, 25, 7, 64, 12, 9, [3, 4, 5, 6, 7, 10, 60, 9, 12]]

In [11]:
my_list = [1, 2, 3, 4, 5]


index1 = 1 
index2 = 3  


temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp


print(my_list)

[1, 4, 3, 2, 5]

In [2]:
x=(1,2,3,4,5)
print(x)
type(x)

(1, 2, 3, 4, 5)

tuple

In [3]:
x=(1,2,3,4,5)
y=x[3]
print(y)

4

In [4]:
x=(1,2,3,4,5)
count=0
for i in x:
    count=count+1
print(count)

5

In [6]:
x=(1,2,3,4,5,2,4,7,3,2,12,54,12,10,4)
y=x.count(4)
print(y)

3

In [11]:
x=(1,2,3,4,5,2,4,7,3,2,12,54,12,10,4)
y=(3)

if y in x:
    print("Present")
else:
    print("Not Present")

Present

In [12]:
x=(1,2,3,4,5)
y=list(x)
y

[1, 2, 3, 4, 5]

In [14]:
x=[1, 2, 3, 4, 5]
y=tuple(x)
y

(1, 2, 3, 4, 5)

In [5]:
x=[]
for i in range (1,11):
    if i%2 == 0:
       x.append(i)
tuple(x)

(2, 4, 6, 8, 10)

In [2]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [6]:
x=[]
for i in range (1,11):
    if i%2 != 0:
       x.append(i)
tuple(x)

(1, 3, 5, 7, 9)

In [7]:
x=(2, 4, 6, 8, 10)
y=(1, 3, 5, 7, 9)
z=x+y
print(z)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [8]:
x=(1, 3, 5, 7, 9)
y=x*3
print(y)

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [9]:
my_tuple = () 

if not my_tuple:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [13]:
x = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(x[0])
print(x[2][1])

(1, 2, 3)
8

In [1]:
x=(1)
print(x)

1

In [2]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)


if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is not equal to tuple2")

if tuple1 != tuple3:
    print("tuple1 is not equal to tuple3")
else:
    print("tuple1 is equal to tuple3")

if tuple1 < tuple3:
    print("tuple1 is less than tuple3")
else:
    print("tuple1 is not less than tuple3")

if tuple3 > tuple1:
    print("tuple3 is greater than tuple1")
else:
    print("tuple3 is not greater than tuple1")

tuple1 is equal to tuple2
tuple1 is not equal to tuple3
tuple1 is less than tuple3
tuple3 is greater than tuple1

In [5]:
x=(1, 3, 5, 7, 9)
del x
print(x)

NameError: name 'x' is not defined

In [7]:
x=(1, 3, 5, 7, 9)
print(x[:2])
print(x[2:])

(1, 3)
(5, 7, 9)

In [9]:
x=(1, 3, 5, 7, 9)
y=max(x)
print(y)

9

In [10]:
x=(1, 3, 5, 7, 9)
y=min(x)
print(y)

1

In [3]:
x="Anish Chandra"
y=[]
for i in x:
    y.append(i)
tuple(y)

('A', 'n', 'i', 's', 'h', ' ', 'C', 'h', 'a', 'n', 'd', 'r', 'a')

In [6]:
x=('A', 'n', 'i', 's', 'h', ' ', 'C', 'h', 'a', 'n', 'd', 'r', 'a')
y="".join(x)
print(y)

Anish Chandra

In [7]:
x=(5,8,"Anish",True,2.5)
print(x)

(5, 8, 'Anish', True, 2.5)

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)


if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are not identical.

In [20]:
x=(1,3,2,9,5,4,6,7,8,55,10,12)
y=set(x)
tuple(y)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 55)

In [27]:
x=(1,5,3,4,6,7,9,8,12,24,10,11)
y=()
for i in x:
    y += (str(i),)
print(y)

('1', '5', '3', '4', '6', '7', '9', '8', '12', '24', '10', '11')

In [28]:
x=('1', '5', '3', '4', '6', '7', '9', '8', '12', '24', '10', '11')
y=()
for i in x:
    y += (int(i),)
print(y)

(1, 5, 3, 4, 6, 7, 9, 8, 12, 24, 10, 11)

In [31]:
x=(1,5,3,4,6,7,9,8,12,24,10,11)
y=(35,45,85,65,20,47)
x1=list(x)
y1=list(y)
z=x1+y1
tuple(z)

(1, 5, 3, 4, 6, 7, 9, 8, 12, 24, 10, 11, 35, 45, 85, 65, 20, 47)

In [35]:
x=[]
for i in range (1,10):
    if i%2 != 0:
       x.append(i)
tuple(x)

(1, 3, 5, 7, 9)

In [39]:
x=(1,2,3,2,1)
y=(1,2,3,4,5)
if x==x[::-1]:
    print("It is palindrome")
else:
    print("It is not a palindrome")
if y==y[::-1]:
    print("It is palindrome")
else:
    print("It is not a palindrome")

It is palindrome
It is not a palindrome

In [41]:
x=(1,2,3,4,5)
y=0
z=[]
for i in x:
    y=i*i
    z.append(y)

tuple(z)

(1, 4, 9, 16, 25)

In [45]:
x=(1, 5, 3, 4, 6, 7, 9, 8, 12, 24, 10, 11, 35, 44, 85, 65, 20, 58)
y=[]
for i in x:
    if i%2==0:
        y.append(i)
tuple(y)

(4, 6, 8, 12, 24, 10, 44, 20, 58)

In [50]:
x=(1,2,3,4,5)
y=0
z=[]
for i in x:
      y=i*2
      z.append(y)
tuple(z)

(2, 4, 6, 8, 10)

In [54]:
x=[]
for i in range(1,51):
    x.append(i)
print(tuple(x))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

In [60]:
x=(1, 5, 3, 4, 6, 7, 9, 8, 12, 24, 10, 11, 35, 44, 85, 65, 20, 58)
y=list(x)
y.sort()
print(y)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 24, 35, 44, 58, 65, 85]

In [2]:
x=(5,4,3,2,6,1,7,9,8)
n=3
y=x[n:] + x[:n]
print(y)

(2, 6, 1, 7, 9, 8, 5, 4, 3)

In [4]:
x=(5,4,3,2,6,1,7,9,8)
n=-3
y=x[n:] + x[:n]
print(y)

(7, 9, 8, 5, 4, 3, 2, 6, 1)

In [15]:
x= input("Create A tuple: ")
y=tuple(x)
print(y)

Create A tuple:  56759

('5', '6', '7', '5', '9')

In [16]:
original_tuple = (1, 2, 3, 4)
index1 = 1
index2 = 2
tuple_list = list(original_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)
print(swapped_tuple)

(1, 3, 2, 4)

In [1]:
x=(5,4,3,2,6,1,7,9,8)
y=x[-1::-1]
print(y)

(8, 9, 7, 1, 6, 2, 3, 4, 5)

In [24]:
x=6
z=[]
for i in range(1,x):
    y=2**i
    z.append(y)
print(tuple(z))

(2, 4, 8, 16, 32)

In [3]:
x=("Anish","Eeshika","Jis","University")
y=max(x)
print(y)

University

In [4]:
x=("Anish","Eeshika","Jis","University")
y=min(x)
print(y)

Anish

In [6]:
x=(5,6,7,2,8,9)
y=(7)

if y in x:
    print("Subsequence")
else:
    print("No Subsequence")

Subsequence

In [9]:
x=(1,2,4,5,3,6,7,8)
y=list(x)
y[0],y[1]=y[1],y[0]
print(tuple(y))

(2, 1, 4, 5, 3, 6, 7, 8)

In [10]:
x={1,2,3,4,5}
x

{1, 2, 3, 4, 5}

In [11]:
x={1,2,3,4,5}
x.add(6)
x

{1, 2, 3, 4, 5, 6}

In [12]:
x={1,2,3,4,5}
x.remove(4)
x

{1, 2, 3, 5}

In [14]:
x={5,6,7,2,8,9}
y=7

if y in x:
    print("Exist")
else:
    print("No Exist")

Exist

In [16]:
x={5,6,7,2,8,9}
y=0
for i in x:
    y=y+1
print(y)

6

In [23]:
x={5,6,7,2,8,9}
x.clear()
print(x)

set()

In [36]:
x=0
y=[]
for i in range(1,11):
    if i%2==0:
        y.append(i)
print(set(y))

{2, 4, 6, 8, 10}

In [37]:
x=0
y=[]
for i in range(1,11):
    if i%2!=0:
        y.append(i)
print(set(y))

{1, 3, 5, 7, 9}

In [38]:
x={2, 4, 6, 8, 10}
y={1, 3, 5, 7, 9}
z=x.union(y)
z

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
x={4,5,7,8,1,6,3}
y={4,6,10,7,3,42,11}
z=x.intersection(y)
z

{3, 4, 6, 7}

In [41]:
x={4,5,7,8,1,6,3}
y={4,6,10,7,3,42,11}
z=x.difference(y)
z

{1, 5, 8}

In [43]:
x={4,5,7,8,1,6,3}
y={1,5,8}
z= y.issubset(x)
if z:
    print("y is a subset of x.")
else:
    print("y is not a subset of x.")

y is a subset of x.

In [46]:
x={4,5,7,8,1,6,3}
y={7,8}
z= x.issuperset(y)
if z:
    print("x is a superset of y.")
else:
    print("x is not a superset of y.")

y is a superset of x.

In [47]:
x=[5,6,7,8,9,1,4,5,3]
y=set(x)
print(y)

{1, 3, 4, 5, 6, 7, 8, 9}

In [48]:
x={4,5,6,7,1,2,8,9}
y=list(x)
print(y)

[1, 2, 4, 5, 6, 7, 8, 9]

In [3]:
x = {1, 2, 3, 4, 5}
y = x.pop()

print("Removed element:", y)
print("New Set:", x)

Removed element: 1
New Set: {2, 3, 4, 5}

In [4]:
x = {8, 2, 3, 4, 5}
Y = x.pop()
print(x)

{3, 4, 5, 8}

In [6]:
x={4,5,7,8,1,6,3}
y={40,61,10,72,13,42,11}
if x.intersection(y)== set():
    print("There is no Common value")
else:
    print("There is common value")

There is no Common value

In [7]:
x = {1, 2, 3, 4, 5}
y = {3, 4, 5, 6, 7}

symmetric_diff = x.symmetric_difference(y)

print("Symmetric Difference:", symmetric_diff)

Symmetric Difference: {1, 2, 6, 7}

In [8]:
x = {1, 2, 3}
y = {3, 4, 5}

x.update(y)

print("Updated set1:", x)

Updated set1: {1, 2, 3, 4, 5}

In [10]:
x={2,3,5,7,9}
print(x)

{2, 3, 5, 7, 9}

In [11]:
x = {1, 2, 3}
y = {3, 2, 1}

if x == y:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [12]:
x = {1, 2, 3, 4, 5}
y = frozenset(x)
print(y)

frozenset({1, 2, 3, 4, 5})

In [16]:
x = {1, 2, 3}
y = {4, 5, 6}

if x.isdisjoint(y):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [1]:
x=0
y=[]
for i in range(1,6):
    x=i**2
    y.append(x)
print(set(y))

{1, 4, 9, 16, 25}

In [5]:
x={5,4,8,7,9,10,22,14,15,45,44,56}
y=[]
for i in x:
    if i%2==0:
        y.append(i)
print(set(y))

{4, 8, 10, 44, 14, 22, 56}

In [8]:
x = {1, 6, 3, 7, 5}
y=0
z=[]
for i in x:
    y=i*2
    z.append(y)
print(set(z))

{2, 6, 10, 12, 14}

In [10]:
x={}
if len(x)==0:
    print("The Set Is Empity")
else:
    print("The Set Is not Empity")

The Set Is Empity

In [16]:
x={2,5,6}
y={6,8,1}
z={10,13,11}
x1=frozenset(x)
y1=frozenset(y)
z1=frozenset(z)

X2

AttributeError: 'frozenset' object has no attribute 'append'

In [17]:
x= {1, 2, 3, 4, 5}
x.discard(3)

print("Updated set:", x)

Updated set: {1, 2, 4, 5}

In [18]:
x = {1, 2, 3}
y = {3, 2, 1}

if x == y:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [2]:
x = "Anish"
y = set(x)

print("Set from string:",y)

Set from string: {'i', 'n', 'h', 'A', 's'}

In [11]:
x={"5","4","6","7","9"}
y = set(map(int,x))
print(y)

{4, 5, 6, 7, 9}

In [12]:
x={4, 5, 6, 7, 9}
y = set(map(str,x))
print(y)

{'6', '4', '9', '7', '5'}

In [14]:
a=(1,5,6,4,8,2)
b=set(a)
b

{1, 2, 4, 5, 6, 8}

In [19]:
a={1,5,6,4,8,2}
b=tuple(a)
b

(1, 2, 4, 5, 6, 8)

In [17]:
a={1,5,6,4,8,2}
b=max(a)
b

8

In [18]:
a={1,5,6,4,8,2}
b=min(a)
b

1

In [24]:
y=input("Enter A Set:")
z = y.split(',')
x=set(z)
print(x)

Enter A Set: 4,5

{'4', '5'}

In [26]:
x={4,5,7,8}
y={1,3,2,6}
z=x.intersection(y)
if len(z)==0:
    print("The intersection of two set is empity")
else:
    print("The intersection of two set is not empity")

The intersection of two set is empity

In [29]:
n=6
a=0
b=1
x=[]
if n==1:
    print(a)
else :
    x.append(a)
    x.append(b)
    for i in range (2,n):
        c=a+b
        a=b
        b=c
        x.append(c)   
print(set(x))

{0, 1, 2, 3, 5}

In [30]:
x=[5,6,7,5,7,8,2,1,3,6,3]
print(set(x))

{1, 2, 3, 5, 6, 7, 8}

In [33]:
x={2, 4, 6, 8, 10}
y={2, 3, 5, 7, 9,6,10}
z=x.intersection(y)
x1=len(z)
x1

3

In [35]:
x={1,3,2,6}
y=0
z=[]
for i in x:
    y=i**2
    z.append(y)
print(set(z))

{1, 4, 9, 36}

In [36]:
x={2, 4, 6, 8, 10}
y=[2, 3, 5, 7, 9,6,10]
z=set(y)
z1=x.intersection(z)
print(z1)

{2, 10, 6}

In [37]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
x = set2.issubset(set1)
y = set2 <= set1
if x:
    print("set2 is a subset of set1")

if y:
    print("set2 is a subset of set1")

set2 is a subset of set1
set2 is a subset of set1

In [38]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}